---
import { Markup } from "react-render-markup";
import type { ComponentSettings } from "../../interfaces/page";
import { evaluateContentPadding } from "../../utils";
import ImageCarousel from "../content/ImageCarousel";

interface Props {
  data: {
    title: string;
    text: string;
    image: any;
    componentSettings?: ComponentSettings;
    id: string;
    __component: string;
  };
}

const { data } = Astro.props;

const { title, text, image, id, __component } = data;
const isDev = import.meta.env.DEV;

let paddingX = "px-6 md:px-16 xl:px-20";
let paddingTop = "pt-6 md:pt-16 xl:pt-20";

if (data.componentSettings) {
  paddingTop = evaluateContentPadding(data.componentSettings.paddingTop, data.componentSettings.paddingBottom, false, true, false);
}
---

<section id={data.componentSettings?.anchorId} class="">
  <div>
    {
      (title || text) && (
        <div class={`max-w-screen-2xl text-start mx-auto ${paddingTop} ${paddingX}`}>
          {title && (
            <div class="markup my-6 lg:my-10">
              <div
                id={`ckeditor-${__component}-${id}-title`}
                class="ckeditor-inline"
                contenteditable={isDev}
                data-component-id={id}
                data-component-type={__component}
                data-field-name="title"
              >
                <Markup markup={title} />
              </div>
            </div>
          )}
          {text && (
            <div class=" markup mb-6 lg:mb-10">
              <div
                id={`ckeditor-${__component}-${id}-text`}
                class="ckeditor-inline"
                contenteditable={isDev}
                data-component-id={id}
                data-component-type={__component}
                data-field-name="text"
              >
                <Markup markup={text} />
              </div>
            </div>
          )}
        </div>
        <ImageCarousel client:visible data={data} />
      )
    }
  </div>
</section>
